:root {
  --utility-utilities-negative: #dd3927;
  --utility-utilities-positive: #01a18e;
  --utility-text-utilities-title-default: #685dfd;
  --utility-text-utilities-paragraph-soft: #757575;
  --utility-text-utilities-paragraph-default: #3d3d3d;
  --utility-text-utilities-paragraph-strong: #121212;
  --utility-text-utilities-code-snippet: #757575;
  --utility-text-utilities-title-strong: #4f45e3;
  --utility-utilities-inverted: #ffffff;
  --utility-semantic-utilities-accent-transparent: rgba(147, 138, 255, 0.2);
  --utility-semantic-utilities-accent: #938aff;
  --utility-semantic-utilities-positive-transparent: rgba(47, 186, 172, 0.2);
  --utility-semantic-utilities-secondary: #2fbaac;
  --utility-semantic-utilities-warning-transparent: rgba(254, 146, 113, 0.2);
  --utility-semantic-utilities-warning: #fe9271;
  --utility-surface-utilities-surface-netural-soft: #f7f7f7;
  --utility-surface-utilities-surface-accent-soft: #f8f7fa;
  --utility-surface-utilities-surface-accent-medium: #ecebff;
  --utility-surface-utilities-surface-white: #ffffff;
  --utility-surface-utilities-surface-neutral-medium: #ebebeb;
  --utility-surface-utilities-surface-neutral-strong: #767391;
  --utility-stroke-utilities-stroke-accent: #d0ccff;
  --utility-stroke-utilities-stroke-accent-soft: #f7f7f7;
  --utility-stroke-utilities-stroke-neutral-soft: #d1d1d1;
  --utility-docu-box-utilities-surface: #ffffff;
  --utility-docu-box-utilities-stroke: #ecebff;
  --utility-docu-box-utilities-surface-example: #f7f7f7;
  --primitive-white: #ffffff;
  --primitive-black: #000000;
  --primitive-fuchsia-100: #faf7f9;
  --primitive-fuchsia-200: #ffedf3;
  --primitive-fuchsia-300: #ffc7d8;
  --primitive-fuchsia-400: #ff9ebb;
  --primitive-fuchsia-500: #ff5c8f;
  --primitive-fuchsia-600: #e50679;
  --primitive-fuchsia-700: #cc0070;
  --primitive-fuchsia-800: #b80068;
  --primitive-fuchsia-900: #9e005c;
  --primitive-fuchsia-1000: #7a0047;
  --primitive-fuchsia-1100: #570033;
  --primitive-fuchsia-1200: #2e001b;
  --primitive-rose-100: #faf8f8;
  --primitive-rose-200: #ffedf0;
  --primitive-rose-300: #ffc7cf;
  --primitive-rose-400: #ffa3b1;
  --primitive-rose-500: #ff6179;
  --primitive-rose-600: #ec0e45;
  --primitive-rose-700: #d10031;
  --primitive-rose-800: #bd0026;
  --primitive-rose-900: #a30018;
  --primitive-rose-1000: #800013;
  --primitive-rose-1100: #5c000e;
  --primitive-rose-1200: #330008;
  --primitive-red-100: #faf8f8;
  --primitive-red-200: #ffeeed;
  --primitive-red-300: #ffc4c2;
  --primitive-red-400: #ffa19e;
  --primitive-red-500: #ff6661;
  --primitive-red-600: #dd3927;
  --primitive-red-700: #c53016;
  --primitive-red-800: #b22c0a;
  --primitive-red-900: #992600;
  --primitive-red-1000: #751b00;
  --primitive-red-1100: #521300;
  --primitive-red-1200: #290a00;
  --primitive-orange-100: #faf6f5;
  --primitive-orange-200: #ffede8;
  --primitive-orange-300: #ffc6b8;
  --primitive-orange-400: #ffb6a3;
  --primitive-orange-500: #fe9271;
  --primitive-orange-600: #fc6b31;
  --primitive-orange-700: #d75809;
  --primitive-orange-800: #b24a00;
  --primitive-orange-900: #943b00;
  --primitive-orange-1000: #662900;
  --primitive-orange-1100: #471e00;
  --primitive-orange-1200: #240e00;
  --primitive-amber-100: #faf7f5;
  --primitive-amber-200: #faefe3;
  --primitive-amber-300: #f7cea3;
  --primitive-amber-400: #f5bf84;
  --primitive-amber-500: #ef9c43;
  --primitive-amber-600: #e27e03;
  --primitive-amber-700: #c66701;
  --primitive-amber-800: #a75701;
  --primitive-amber-900: #894501;
  --primitive-amber-1000: #603001;
  --primitive-amber-1100: #422100;
  --primitive-amber-1200: #1f1000;
  --primitive-gold-100: #faf9f5;
  --primitive-gold-200: #faf5eb;
  --primitive-gold-300: #f6e4b8;
  --primitive-gold-400: #f7d481;
  --primitive-gold-500: #e7b63b;
  --primitive-gold-600: #c38b09;
  --primitive-gold-700: #ac7302;
  --primitive-gold-800: #946300;
  --primitive-gold-900: #754a00;
  --primitive-gold-1000: #523400;
  --primitive-gold-1100: #382300;
  --primitive-gold-1200: #1a1000;
  --primitive-lime-100: #f9faf5;
  --primitive-lime-200: #eff2e4;
  --primitive-lime-300: #ceda9d;
  --primitive-lime-400: #bed270;
  --primitive-lime-500: #a1bb30;
  --primitive-lime-600: #8aa202;
  --primitive-lime-700: #758a00;
  --primitive-lime-800: #647500;
  --primitive-lime-900: #4e5c00;
  --primitive-lime-1000: #394200;
  --primitive-lime-1100: #282e00;
  --primitive-lime-1200: #111400;
  --primitive-green-100: #f5faf6;
  --primitive-green-200: #ebf5ec;
  --primitive-green-300: #cae8cd;
  --primitive-green-400: #8acc91;
  --primitive-green-500: #43ad4c;
  --primitive-green-600: #298a00;
  --primitive-green-700: #2d7a00;
  --primitive-green-800: #2e6b00;
  --primitive-green-900: #2e5c00;
  --primitive-green-1000: #214200;
  --primitive-green-1100: #182e00;
  --primitive-green-1200: #0a1400;
  --primitive-aquamarine-100: #f4f9f7;
  --primitive-aquamarine-200: #e1f0ea;
  --primitive-aquamarine-300: #b2dccc;
  --primitive-aquamarine-400: #82c9af;
  --primitive-aquamarine-500: #3bab82;
  --primitive-aquamarine-600: #008a57;
  --primitive-aquamarine-700: #007a4b;
  --primitive-aquamarine-800: #006b3e;
  --primitive-aquamarine-900: #005c34;
  --primitive-aquamarine-1000: #004727;
  --primitive-aquamarine-1100: #002e1a;
  --primitive-aquamarine-1200: #001a0e;
  --primitive-teal-100: #f5fafa;
  --primitive-teal-200: #e1f5f3;
  --primitive-teal-300: #a4ded8;
  --primitive-teal-400: #7fd4cb;
  --primitive-teal-500: #2fbaac;
  --primitive-teal-600: #01a18e;
  --primitive-teal-700: #008f79;
  --primitive-teal-800: #007a66;
  --primitive-teal-900: #006151;
  --primitive-teal-1000: #004237;
  --primitive-teal-1100: #002e26;
  --primitive-teal-1200: #001a16;
  --primitive-cyan-100: #f4fafc;
  --primitive-cyan-200: #dcf4fa;
  --primitive-cyan-300: #9edcea;
  --primitive-cyan-400: #81cdde;
  --primitive-cyan-500: #43bdd6;
  --primitive-cyan-600: #02a8bb;
  --primitive-cyan-700: #008c99;
  --primitive-cyan-800: #007580;
  --primitive-cyan-900: #00626b;
  --primitive-cyan-1000: #004347;
  --primitive-cyan-1100: #002f33;
  --primitive-cyan-1200: #00171a;
  --primitive-sky-100: #f7fbfc;
  --primitive-sky-200: #e3f3fc;
  --primitive-sky-300: #b2e0f7;
  --primitive-sky-400: #8ed1f5;
  --primitive-sky-500: #51b8f0;
  --primitive-sky-600: #01a0e9;
  --primitive-sky-700: #0085cc;
  --primitive-sky-800: #0071b2;
  --primitive-sky-900: #005a8f;
  --primitive-sky-1000: #004166;
  --primitive-sky-1100: #002d47;
  --primitive-sky-1200: #001624;
  --primitive-blue-100: #f7f9fc;
  --primitive-blue-200: #e5edff;
  --primitive-blue-300: #c0d2fc;
  --primitive-blue-400: #9ebbff;
  --primitive-blue-500: #6e9cff;
  --primitive-blue-600: #257df8;
  --primitive-blue-700: #0966d7;
  --primitive-blue-800: #045bbe;
  --primitive-blue-900: #004f9e;
  --primitive-blue-1000: #003d75;
  --primitive-blue-1100: #002952;
  --primitive-blue-1200: #001429;
  --primitive-blueberry-100: #f8f7fa;
  --primitive-blueberry-200: #ecebff;
  --primitive-blueberry-300: #d0ccff;
  --primitive-blueberry-400: #b9b2ff;
  --primitive-blueberry-500: #938aff;
  --primitive-blueberry-600: #685dfd;
  --primitive-blueberry-700: #594fee;
  --primitive-blueberry-800: #4f45e3;
  --primitive-blueberry-900: #3c35d0;
  --primitive-blueberry-1000: #31299e;
  --primitive-blueberry-1100: #201c6d;
  --primitive-blueberry-1200: #100d35;
  --primitive-violet-100: #f9f7fa;
  --primitive-violet-200: #f3ebfc;
  --primitive-violet-300: #e4c7ff;
  --primitive-violet-400: #d4a8ff;
  --primitive-violet-500: #ba75ff;
  --primitive-violet-600: #9a44fd;
  --primitive-violet-700: #863de6;
  --primitive-violet-800: #7735d4;
  --primitive-violet-900: #652cba;
  --primitive-violet-1000: #4c218c;
  --primitive-violet-1100: #361763;
  --primitive-violet-1200: #1b0b32;
  --primitive-purple-100: #f9f5fa;
  --primitive-purple-200: #f6e6f7;
  --primitive-purple-300: #f1c3f4;
  --primitive-purple-400: #eba5ee;
  --primitive-purple-500: #dc69e2;
  --primitive-purple-600: #c70de7;
  --primitive-purple-700: #b20dd3;
  --primitive-purple-800: #9918b9;
  --primitive-purple-900: #7f249e;
  --primitive-purple-1000: #601b79;
  --primitive-purple-1100: #421353;
  --primitive-purple-1200: #21092a;
  --primitive-magenta-100: #faf5f8;
  --primitive-magenta-200: #fce6f4;
  --primitive-magenta-300: #f8c4e4;
  --primitive-magenta-400: #f5a3d6;
  --primitive-magenta-500: #ee68bd;
  --primitive-magenta-600: #da07af;
  --primitive-magenta-700: #c20a9a;
  --primitive-magenta-800: #ad1485;
  --primitive-magenta-900: #941e6d;
  --primitive-magenta-1000: #6d1752;
  --primitive-magenta-1100: #4c1038;
  --primitive-magenta-1200: #26081c;
  --primitive-sand-100: #f8f7f7;
  --primitive-sand-200: #eceae9;
  --primitive-sand-300: #d7d2d1;
  --primitive-sand-400: #c1bab8;
  --primitive-sand-500: #a09592;
  --primitive-sand-600: #7b7574;
  --primitive-sand-700: #6f6867;
  --primitive-sand-800: #635b5a;
  --primitive-sand-900: #564f4e;
  --primitive-sand-1000: #413b3a;
  --primitive-sand-1100: #2b2727;
  --primitive-sand-1200: #151313;
  --primitive-sand-lighten-100-l: rgba(252, 252, 252, 0.98);
  --primitive-sand-lighten-200-l: rgba(252, 252, 252, 0.93);
  --primitive-sand-lighten-300-l: rgba(250, 250, 250, 0.85);
  --primitive-sand-lighten-400-l: rgba(248, 247, 247, 0.76);
  --primitive-sand-lighten-500-l: rgba(244, 241, 240, 0.63);
  --primitive-sand-lighten-600-l: rgba(247, 244, 243, 0.49);
  --primitive-sand-lighten-700-l: rgba(247, 239, 237, 0.44);
  --primitive-sand-lighten-800-l: rgba(251, 235, 234, 0.39);
  --primitive-sand-lighten-900-l: rgba(252, 234, 233, 0.34);
  --primitive-sand-lighten-1000-l: rgba(249, 229, 225, 0.26);
  --primitive-sand-lighten-1100-l: rgba(253, 232, 232, 0.17);
  --primitive-sand-lighten-1200-l: rgba(233, 211, 211, 0.09);
  --primitive-sand-darken-100-d: rgba(81, 56, 56, 0.04);
  --primitive-sand-darken-200-d: rgba(44, 23, 12, 0.09);
  --primitive-sand-darken-300-d: rgba(42, 19, 14, 0.19);
  --primitive-sand-darken-400-d: rgba(32, 11, 4, 0.28);
  --primitive-sand-darken-500-d: rgba(29, 11, 7, 0.43);
  --primitive-sand-darken-600-d: rgba(10, 6, 5, 0.55);
  --primitive-sand-darken-700-d: rgba(9, 6, 6, 0.6);
  --primitive-sand-darken-800-d: rgba(9, 7, 7, 0.65);
  --primitive-sand-darken-900-d: rgba(8, 7, 7, 0.7);
  --primitive-sand-darken-1000-d: rgba(8, 8, 8, 0.78);
  --primitive-sand-darken-1100-d: rgba(3, 3, 3, 0.85);
  --primitive-sand-darken-1200-d: rgba(3, 3, 3, 0.93);
  --primitive-gray-100: #f7f7f7;
  --primitive-gray-200: #ebebeb;
  --primitive-gray-300: #d1d1d1;
  --primitive-gray-400: #bdbdbd;
  --primitive-gray-500: #969696;
  --primitive-gray-600: #757575;
  --primitive-gray-700: #696969;
  --primitive-gray-800: #5c5c5c;
  --primitive-gray-900: #525252;
  --primitive-gray-1000: #3d3d3d;
  --primitive-gray-1100: #292929;
  --primitive-gray-1200: #121212;
  --primitive-gray-lighten-100-l: rgba(255, 255, 255, 0.97);
  --primitive-gray-lighten-200-l: rgba(252, 252, 252, 0.93);
  --primitive-gray-lighten-300-l: rgba(255, 255, 255, 0.82);
  --primitive-gray-lighten-400-l: rgba(252, 252, 252, 0.75);
  --primitive-gray-lighten-500-l: rgba(255, 255, 255, 0.59);
  --primitive-gray-lighten-600-l: rgba(255, 255, 255, 0.46);
  --primitive-gray-lighten-700-l: rgba(250, 250, 250, 0.42);
  --primitive-gray-lighten-800-l: rgba(250, 250, 250, 0.37);
  --primitive-gray-lighten-900-l: rgba(247, 247, 247, 0.33);
  --primitive-gray-lighten-1000-l: rgba(255, 255, 255, 0.24);
  --primitive-gray-lighten-1100-l: rgba(242, 242, 242, 0.17);
  --primitive-gray-lighten-1200-l: rgba(224, 224, 224, 0.08);
  --primitive-gray-darken-100-d: rgba(56, 56, 56, 0.04);
  --primitive-gray-darken-200-d: rgba(5, 5, 5, 0.08);
  --primitive-gray-darken-300-d: rgba(13, 13, 13, 0.19);
  --primitive-gray-darken-400-d: rgba(0, 0, 0, 0.26);
  --primitive-gray-darken-500-d: rgba(5, 5, 5, 0.42);
  --primitive-gray-darken-600-d: rgba(5, 5, 5, 0.55);
  --primitive-gray-darken-700-d: rgba(0, 0, 0, 0.59);
  --primitive-gray-darken-800-d: rgba(0, 0, 0, 0.64);
  --primitive-gray-darken-900-d: rgba(0, 0, 0, 0.68);
  --primitive-gray-darken-1000-d: rgba(3, 3, 3, 0.77);
  --primitive-gray-darken-1100-d: rgba(0, 0, 0, 0.84);
  --primitive-gray-darken-1200-d: rgba(0, 0, 0, 0.93);
  --primitive-smoke-100: #f8f8f9;
  --primitive-smoke-200: #e9ebec;
  --primitive-smoke-300: #cfd3d6;
  --primitive-smoke-400: #b7bdc2;
  --primitive-smoke-500: #9099a0;
  --primitive-smoke-600: #6f787f;
  --primitive-smoke-700: #616a71;
  --primitive-smoke-800: #555f66;
  --primitive-smoke-900: #485258;
  --primitive-smoke-1000: #363d42;
  --primitive-smoke-1100: #252a2d;
  --primitive-smoke-1200: #111415;
  --primitive-smoke-lighten-100-l: rgba(252, 252, 252, 0.98);
  --primitive-smoke-lighten-200-l: rgba(252, 252, 252, 0.93);
  --primitive-smoke-lighten-300-l: rgba(250, 250, 250, 0.84);
  --primitive-smoke-lighten-400-l: rgba(244, 245, 245, 0.77);
  --primitive-smoke-lighten-500-l: rgba(240, 242, 244, 0.63);
  --primitive-smoke-lighten-600-l: rgba(240, 242, 244, 0.5);
  --primitive-smoke-lighten-700-l: rgba(226, 236, 243, 0.45);
  --primitive-smoke-lighten-800-l: rgba(220, 237, 249, 0.4);
  --primitive-smoke-lighten-900-l: rgba(211, 234, 248, 0.35);
  --primitive-smoke-lighten-1000-l: rgba(211, 235, 253, 0.26);
  --primitive-smoke-lighten-1100-l: rgba(205, 232, 249, 0.18);
  --primitive-smoke-lighten-1200-l: rgba(190, 222, 233, 0.09);
  --primitive-smoke-darken-100-d: rgba(22, 22, 55, 0.03);
  --primitive-smoke-darken-200-d: rgba(12, 34, 45, 0.09);
  --primitive-smoke-darken-300-d: rgba(3, 23, 38, 0.19);
  --primitive-smoke-darken-400-d: rgba(10, 27, 41, 0.29);
  --primitive-smoke-darken-500-d: rgba(8, 22, 33, 0.44);
  --primitive-smoke-darken-600-d: rgba(9, 16, 22, 0.57);
  --primitive-smoke-darken-700-d: rgba(9, 13, 16, 0.62);
  --primitive-smoke-darken-800-d: rgba(13, 16, 17, 0.67);
  --primitive-smoke-darken-900-d: rgba(12, 13, 14, 0.72);
  --primitive-smoke-darken-1000-d: rgba(7, 8, 8, 0.79);
  --primitive-smoke-darken-1100-d: rgba(8, 8, 8, 0.86);
  --primitive-smoke-darken-1200-d: rgba(5, 5, 5, 0.94);
  --primitive-slate-100: #f9f9fb;
  --primitive-slate-200: #e7e9ee;
  --primitive-slate-300: #cfd4dd;
  --primitive-slate-400: #b4bcca;
  --primitive-slate-500: #8f98ae;
  --primitive-slate-600: #6a778a;
  --primitive-slate-700: #5e6b7d;
  --primitive-slate-800: #525f6f;
  --primitive-slate-900: #475162;
  --primitive-slate-1000: #353e4b;
  --primitive-slate-1100: #222930;
  --primitive-slate-1200: #111317;
  --primitive-slate-lighten-100-l: rgba(252, 252, 252, 0.99);
  --primitive-slate-lighten-200-l: rgba(250, 250, 250, 0.94);
  --primitive-slate-lighten-300-l: rgba(247, 247, 248, 0.87);
  --primitive-slate-lighten-400-l: rgba(239, 239, 240, 0.8);
  --primitive-slate-lighten-500-l: rgba(226, 228, 233, 0.69);
  --primitive-slate-lighten-600-l: rgba(214, 220, 230, 0.55);
  --primitive-slate-lighten-700-l: rgba(204, 217, 235, 0.5);
  --primitive-slate-lighten-800-l: rgba(196, 217, 243, 0.44);
  --primitive-slate-lighten-900-l: rgba(188, 210, 246, 0.39);
  --primitive-slate-lighten-1000-l: rgba(180, 210, 248, 0.3);
  --primitive-slate-lighten-1100-l: rgba(182, 217, 252, 0.19);
  --primitive-slate-lighten-1200-l: rgba(169, 189, 229, 0.1);
  --primitive-slate-darken-100-d: rgba(55, 55, 123, 0.03);
  --primitive-slate-darken-200-d: rgba(16, 36, 86, 0.1);
  --primitive-slate-darken-300-d: rgba(4, 29, 72, 0.19);
  --primitive-slate-darken-400-d: rgba(10, 34, 71, 0.3);
  --primitive-slate-darken-500-d: rgba(10, 26, 61, 0.44);
  --primitive-slate-darken-600-d: rgba(16, 28, 45, 0.59);
  --primitive-slate-darken-700-d: rgba(21, 27, 35, 0.64);
  --primitive-slate-darken-800-d: rgba(20, 23, 26, 0.68);
  --primitive-slate-darken-900-d: rgba(19, 20, 21, 0.73);
  --primitive-slate-darken-1000-d: rgba(17, 18, 18, 0.8);
  --primitive-slate-darken-1100-d: rgba(10, 10, 10, 0.87);
  --primitive-slate-darken-1200-d: rgba(5, 5, 5, 0.94);
  --primitive-night-100: #f7f7f8;
  --primitive-night-200: #ecebef;
  --primitive-night-300: #d4d2db;
  --primitive-night-400: #bebbc9;
  --primitive-night-500: #9995ac;
  --primitive-night-600: #767391;
  --primitive-night-700: #696783;
  --primitive-night-800: #5b5b76;
  --primitive-night-900: #4f4f69;
  --primitive-night-1000: #3c3c4e;
  --primitive-night-1100: #272734;
  --primitive-night-1200: #14141a;
  --primitive-night-lighten-100-l: rgba(252, 252, 252, 0.98);
  --primitive-night-lighten-200-l: rgba(252, 252, 252, 0.94);
  --primitive-night-lighten-300-l: rgba(250, 250, 250, 0.86);
  --primitive-night-lighten-400-l: rgba(244, 244, 245, 0.79);
  --primitive-night-lighten-500-l: rgba(236, 235, 239, 0.68);
  --primitive-night-lighten-600-l: rgba(221, 219, 235, 0.57);
  --primitive-night-lighten-700-l: rgba(212, 211, 238, 0.52);
  --primitive-night-lighten-800-l: rgba(202, 202, 242, 0.47);
  --primitive-night-lighten-900-l: rgba(194, 194, 245, 0.42);
  --primitive-night-lighten-1000-l: rgba(199, 199, 250, 0.31);
  --primitive-night-lighten-1100-l: rgba(187, 187, 247, 0.21);
  --primitive-night-lighten-1200-l: rgba(182, 182, 236, 0.11);
  --primitive-night-darken-100-d: rgba(56, 56, 81, 0.04);
  --primitive-night-darken-200-d: rgba(19, 6, 55, 0.08);
  --primitive-night-darken-300-d: rgba(17, 7, 54, 0.18);
  --primitive-night-darken-400-d: rgba(16, 7, 49, 0.27);
  --primitive-night-darken-500-d: rgba(18, 11, 50, 0.42);
  --primitive-night-darken-600-d: rgba(17, 14, 42, 0.55);
  --primitive-night-darken-700-d: rgba(20, 19, 32, 0.6);
  --primitive-night-darken-800-d: rgba(20, 20, 26, 0.65);
  --primitive-night-darken-900-d: rgba(22, 22, 24, 0.7);
  --primitive-night-darken-1000-d: rgba(12, 12, 13, 0.77);
  --primitive-night-darken-1100-d: rgba(8, 8, 8, 0.85);
  --primitive-night-darken-1200-d: rgba(5, 5, 5, 0.93);
  --shadow-soft: rgba(56, 56, 81, 0.04);
  --shadow-medium: rgba(19, 6, 55, 0.08);
}

@theme {
  /* ── Tailwind default theme reset ─────────────────────────────────────── */
  --color-*: initial;
  --radius-*: initial;
  --font-*: initial;
  --text-*: initial;
  --font-weight-*: initial;
  --tracking-*: initial;
  --leading-*: initial;
  --shadow-*: initial;

  --radius-none: 0px;
  --radius-xs: 2px;
  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;
  --radius-xl: 16px;
  --radius-full: 999px;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-18: 4.5rem;
  --spacing-none: 0rem;
  --spacing-0.5: 0.125rem;
  --spacing-1.5: 0.375rem;
  --spacing-2.5: 0.625rem;
  --border: 1px;
  --border-2: 2px;
  --border-1-5: 1.5px;
  --color-core-accent-accent-100: var(--primitive-blueberry-100);
  --color-core-accent-accent-200: var(--primitive-blueberry-200);
  --color-core-accent-accent-300: var(--primitive-blueberry-300);
  --color-core-accent-accent-400: var(--primitive-blueberry-400);
  --color-core-accent-accent-500: var(--primitive-blueberry-500);
  --color-core-accent-accent-600: var(--primitive-blueberry-600);
  --color-core-accent-accent-700: var(--primitive-blueberry-700);
  --color-core-accent-accent-800: var(--primitive-blueberry-800);
  --color-core-accent-accent-900: var(--primitive-blueberry-900);
  --color-core-accent-accent-1000: var(--primitive-blueberry-1000);
  --color-core-accent-accent-1100: var(--primitive-blueberry-1100);
  --color-core-accent-accent-1200: var(--primitive-blueberry-1200);
  --color-core-neutral-neutral-100: var(--primitive-night-100);
  --color-core-neutral-neutral-300: var(--primitive-night-300);
  --color-core-neutral-neutral-400: var(--primitive-night-400);
  --color-core-neutral-neutral-500: var(--primitive-night-500);
  --color-core-neutral-neutral-600: var(--primitive-night-600);
  --color-core-neutral-neutral-700: var(--primitive-night-700);
  --color-core-neutral-neutral-800: var(--primitive-night-800);
  --color-core-neutral-neutral-900: var(--primitive-night-900);
  --color-core-neutral-neutral-1000: var(--primitive-night-1000);
  --color-core-neutral-neutral-1100: var(--primitive-night-1100);
  --color-core-neutral-neutral-1200: var(--primitive-night-1200);
  --color-core-neutral-neutral-200: var(--primitive-night-200);
  --color-core-white: #ffffff;
  --color-core-black: #000000;
  --color-text-interactive: var(--color-core-accent-accent-700);
  --color-text-active-interactive: var(--color-core-accent-accent-900);
  --color-text-active-inverted: var(--color-core-accent-accent-300);
  --color-text-title: var(--color-core-neutral-neutral-1200);
  --color-text-primary: var(--color-core-neutral-neutral-1100);
  --color-text-secondary: var(--color-core-neutral-neutral-900);
  --color-text-tertiary: var(--color-core-neutral-neutral-700);
  --color-text-label: var(--color-text-primary);
  --color-text-placeholder: var(--color-core-neutral-neutral-600);
  --color-text-inverted: var(--color-core-white);
  --color-text-disabled-interactive: var(--color-core-neutral-neutral-400);
  --color-text-disabled-title: var(--color-core-neutral-neutral-600);
  --color-text-disabled-primary: var(--color-core-neutral-neutral-600);
  --color-text-disabled-secondary: var(--color-core-neutral-neutral-500);
  --color-text-disabled-tertiary: var(--color-core-neutral-neutral-400);
  --color-text-disabled-label: var(--color-text-disabled-primary);
  --color-text-disabled-placeholder: var(--color-core-neutral-neutral-300);
  --color-text-disabled-inverted: var(--color-core-neutral-neutral-400);
  --color-text-hover-interactive: var(--color-core-accent-accent-800);
  --color-text-hover-inverted: var(--color-core-accent-accent-200);
  --color-surface-interactive-strong: var(--color-core-accent-accent-700);
  --color-surface-active-interactive-strong: var(--color-core-accent-accent-900);
  --color-surface-active-base: var(--color-core-accent-accent-200);
  --color-surface-active-interactive-soft: var(--color-core-accent-accent-300);
  --color-surface-active-interactive-medium: var(--color-core-accent-accent-400);
  --color-surface-active-neutral-medium: var(--color-core-neutral-neutral-400);
  --color-surface-active-neutral-stronger: var(--color-core-neutral-neutral-1200);
  --color-surface-active-neutral-strong: var(--color-core-neutral-neutral-700);
  --color-surface-active-neutral-soft: var(--color-core-neutral-neutral-300);
  --color-surface-active-inverted: var(--color-core-accent-accent-200);
  --color-surface-neutral-soft: var(--color-core-neutral-neutral-100);
  --color-surface-interactive-soft: var(--color-core-accent-accent-100);
  --color-surface-inverted: var(--color-core-white);
  --color-surface-base: var(--color-core-white);
  --color-surface-disabled-base: var(--color-core-neutral-neutral-200);
  --color-surface-disabled-strong-stronger: var(--color-core-neutral-neutral-400);
  --color-surface-disabled-medium-soft-softer: var(--color-core-neutral-neutral-200);
  --color-surface-neutral-medium: var(--color-core-neutral-neutral-200);
  --color-surface-interactive-medium: var(--color-core-accent-accent-200);
  --color-surface-neutral-strong: var(--color-core-neutral-neutral-500);
  --color-surface-overlay-strong: var(--primitive-night-darken-600-d);
  --color-surface-overlay-soft: var(--primitive-night-darken-300-d);
  --color-surface-neutral-stronger: var(--color-core-neutral-neutral-1000);
  --color-surface-hover-base: var(--color-core-accent-accent-100);
  --color-surface-hover-interactive-strong: var(--color-core-accent-accent-800);
  --color-surface-hover-interactive-medium: var(--color-core-accent-accent-300);
  --color-surface-hover-interactive-soft: var(--color-core-accent-accent-200);
  --color-surface-hover-neutral-medium: var(--color-core-neutral-neutral-300);
  --color-surface-hover-neutral-strong: var(--color-core-neutral-neutral-600);
  --color-surface-hover-neutral-stronger: var(--color-core-neutral-neutral-1100);
  --color-surface-hover-netural-soft: var(--color-core-neutral-neutral-200);
  --color-surface-hover-inverted: var(--color-core-accent-accent-100);
  --color-border-interactive-strong: var(--color-core-accent-accent-700);
  --color-border-active-interactive-strong: var(--color-core-accent-accent-800);
  --color-border-active-neutral-strong: var(--color-core-neutral-neutral-700);
  --color-border-active-interactive-medium: var(--color-core-accent-accent-700);
  --color-border-active-neutral-medium: var(--color-core-neutral-neutral-600);
  --color-border-active-neutral-soft: var(--color-core-neutral-neutral-400);
  --color-border-active-neutral-softer: var(--color-core-neutral-neutral-300);
  --color-border-neutral-medium: var(--color-core-neutral-neutral-400);
  --color-border-neutral-soft: var(--color-core-neutral-neutral-200);
  --color-border-disabled-medium-soft-softer: var(--color-core-neutral-neutral-200);
  --color-border-disabled-strong-stronger: var(--color-core-neutral-neutral-400);
  --color-border-neutral-strong: var(--color-core-neutral-neutral-700);
  --color-border-neutral-softer: var(--color-core-neutral-neutral-100);
  --color-border-interactive-medium: var(--color-core-accent-accent-500);
  --color-border-hover-neutral-strong: var(--color-core-neutral-neutral-600);
  --color-border-hover-neutral-medium: var(--color-core-neutral-neutral-500);
  --color-border-hover-neutral-soft: var(--color-core-neutral-neutral-300);
  --color-border-hover-neutral-softer: var(--color-core-neutral-neutral-200);
  --color-border-hover-interactive-strong: var(--color-core-accent-accent-800);
  --color-border-hover-interactive-medium: var(--color-core-accent-accent-600);
  --color-semantic-success-strong: var(--primitive-teal-700);
  --color-semantic-success-medium: var(--primitive-teal-300);
  --color-semantic-success-soft: var(--primitive-teal-100);
  --color-semantic-success-active-strong: var(--primitive-teal-900);
  --color-semantic-success-active-medium: var(--primitive-teal-500);
  --color-semantic-success-active-soft: var(--primitive-teal-300);
  --color-semantic-success-hover-strong: var(--primitive-teal-800);
  --color-semantic-success-hover-medium: var(--primitive-teal-400);
  --color-semantic-success-hover-soft: var(--primitive-teal-200);
  --color-semantic-error-strong: var(--primitive-red-700);
  --color-semantic-error-medium: var(--primitive-red-300);
  --color-semantic-error-soft: var(--primitive-red-100);
  --color-semantic-error-active-strong: var(--primitive-red-900);
  --color-semantic-error-active-medium: var(--primitive-red-500);
  --color-semantic-error-active-soft: var(--primitive-red-300);
  --color-semantic-error-hover-strong: var(--primitive-red-800);
  --color-semantic-error-hover-medium: var(--primitive-red-400);
  --color-semantic-error-hover-soft: var(--primitive-red-200);
  --color-semantic-warning-strong: var(--primitive-amber-700);
  --color-semantic-warning-medium: var(--primitive-amber-300);
  --color-semantic-warning-soft: var(--primitive-amber-100);
  --color-semantic-warning-active-strong: var(--primitive-amber-900);
  --color-semantic-warning-active-medium: var(--primitive-amber-500);
  --color-semantic-warning-active-soft: var(--primitive-amber-300);
  --color-semantic-warning-hover-strong: var(--primitive-amber-800);
  --color-semantic-warning-hover-medium: var(--primitive-amber-400);
  --color-semantic-warning-hover-soft: var(--primitive-amber-200);
  --color-focus-offset: var(--primitive-white);
  --color-focus-ring: var(--primitive-black);

  /* ── Typography ───────────────────────────────────────────── */
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --text-display: 4.5rem;
  --text-display--line-height: 120%;
  --text-h1: 3rem;
  --text-h1--line-height: 120%;
  --text-h2: 2rem;
  --text-h2--line-height: 140%;
  --text-h3: 1.5rem;
  --text-h3--line-height: 140%;
  --text-h4: 1.25rem;
  --text-h4--line-height: 140%;
  --text-h5: 1rem;
  --text-h5--line-height: 150%;
  --text-h6: 0.875rem;
  --text-h6--line-height: 150%;
  --text-t1: 1.25rem;
  --text-t1--line-height: 140%;
  --text-t2: 1rem;
  --text-t2--line-height: 140%;
  --text-t3: 0.875rem;
  --text-t3--line-height: 140%;
  --text-t4: 0.75rem;
  --text-t4--line-height: 140%;
  --text-t5: 0.625rem;
  --text-t5--line-height: 120%;
  --text-button-l: 1rem;
  --text-button-l--line-height: 100%;
  --text-button-m: 1rem;
  --text-button-m--line-height: 100%;
  --text-button-s: 0.875rem;
  --text-button-s--line-height: 140%;
  --text-display-tablet: 4rem;
  --text-display-tablet--line-height: 120%;
  --text-h1-tablet: 3rem;
  --text-h1-tablet--line-height: 120%;
  --text-h2-tablet: 2rem;
  --text-h2-tablet--line-height: 140%;
  --text-h3-tablet: 1.5rem;
  --text-h3-tablet--line-height: 140%;
  --text-h4-tablet: 1.25rem;
  --text-h4-tablet--line-height: 140%;
  --text-h5-tablet: 1rem;
  --text-h5-tablet--line-height: 150%;
  --text-h6-tablet: 0.875rem;
  --text-h6-tablet--line-height: 150%;
  --text-t1-tablet: 1.25rem;
  --text-t1-tablet--line-height: 140%;
  --text-t2-tablet: 1rem;
  --text-t2-tablet--line-height: 140%;
  --text-t3-tablet: 0.875rem;
  --text-t3-tablet--line-height: 140%;
  --text-t4-tablet: 0.75rem;
  --text-t4-tablet--line-height: 140%;
  --text-t5-tablet: 0.75rem;
  --text-t5-tablet--line-height: 120%;
  --text-button-l-tablet: 1rem;
  --text-button-l-tablet--line-height: 100%;
  --text-button-m-tablet: 1rem;
  --text-button-m-tablet--line-height: 100%;
  --text-button-s-tablet: 0.875rem;
  --text-button-s-tablet--line-height: 140%;
  --text-display-mobile: 3rem;
  --text-display-mobile--line-height: 120%;
  --text-h1-mobile: 2.5rem;
  --text-h1-mobile--line-height: 120%;
  --text-h2-mobile: 1.75rem;
  --text-h2-mobile--line-height: 140%;
  --text-h3-mobile: 1.5rem;
  --text-h3-mobile--line-height: 140%;
  --text-h4-mobile: 1.25rem;
  --text-h4-mobile--line-height: 140%;
  --text-h5-mobile: 1rem;
  --text-h5-mobile--line-height: 150%;
  --text-h6-mobile: 0.875rem;
  --text-h6-mobile--line-height: 150%;
  --text-t1-mobile: 1.25rem;
  --text-t1-mobile--line-height: 140%;
  --text-t2-mobile: 1rem;
  --text-t2-mobile--line-height: 140%;
  --text-t3-mobile: 0.875rem;
  --text-t3-mobile--line-height: 140%;
  --text-t4-mobile: 0.75rem;
  --text-t4-mobile--line-height: 140%;
  --text-t5-mobile: 0.75rem;
  --text-t5-mobile--line-height: 120%;
  --text-button-l-mobile: 1rem;
  --text-button-l-mobile--line-height: 100%;
  --text-button-m-mobile: 1rem;
  --text-button-m-mobile--line-height: 100%;
  --text-button-s-mobile: 0.875rem;
  --text-button-s-mobile--line-height: 140%;
  --font-weight-soft: 400;
  --font-weight-medium: 500;
  --font-weight-strong: 600;
  --tracking-s: 0px;
  --tracking-m: 0.15px;
  --tracking-l: 0.25px;
  --leading-none: 1;
  --leading-s: 110%;
  --leading-m: 120%;
  --leading-l: 140%;
  --leading-xl: 150%;
  --leading-2xl: 175%;

  /* ── Shadows ──────────────────────────────────────────────── */
  --shadow-small-top-light: 0px 1px 3px rgba(56, 56, 56, 0.04);
  --shadow-medium-top-light: 0px 4px 16px rgba(56, 56, 56, 0.4);
  --shadow-large-top-light: 0px 16px 24px 0px rgba(56, 56, 81, 0.08), 0px 2px 16px 0px rgba(56, 56, 81, 0.10);
  --shadow-small-bottom-light: 0px -1px 3px rgba(56, 56, 56, 0.04);
  --shadow-medium-bottom-light: 0px -4px 16px rgba(56, 56, 56, 0.4);
  --shadow-large-bottom-light: 0px -16px 24px 0px rgba(56, 56, 81, 0.08), 0px -2px 16px 0px rgba(56, 56, 81, 0.10);
}
